@import "tailwindcss";

/* Palette */
.bg-pale-yellow {
  background-color: #f2d399;
}
.text-pale-yellow {
  color: #f2d399;
}
.border-pale-yellow {
  border-color: #f2d399;
}

.bg-violet {
  background-color: #545375;
}
.text-violet {
  color: #545375;
}
.border-violet {
  border-color: #545375;
}

.bg-khaki {
  background-color: #f1f1f0;
}
.text-khaki {
  color: #f1f1f0;
}
.border-khaki {
  border-color: #f1f1f0;
}

.bg-brown {
  background-color: #b46c3f;
}
.text-brown {
  color: #b46c3f;
}
.border-brown {
  border-color: #b46c3f;
}

.bg-space-dark {
  background-color: #3a3456;
}
.text-space-dark {
  color: #3a3456;
}
.border-space-dark {
  border-color: #3a3456;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fc-button-primary {
  background-color: #3a3456 !important;
  border-color: #3a3456 !important;
  color: white !important;
}
